.content-adotar{
    padding-left: 60px;
    padding-right: 60px;
    text-align:start;
}

.titulo-adotar{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.processo-adocao{
    font-size: 1.5rem;
}

.bots {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    gap:10px;
    
}

.btn{
    width: 100%;
}